.react-notifiable__container {
  position: relative;
}

.react-notifiable__items {
  position: absolute;
  top: 0;
  right: 0;
}

.react-notifiable__item {
  width: 300px;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  transition: .3s;
}

.react-notifiable__items-enter {
  opacity: 0;
  left: 100%;
}

.react-notifiable__items-enter.react-notifiable__items-enter-active {
  opacity: 1;
  left: 0;
}

.react-notifiable__items-leave {
  opacity: 1;
  left: 0;
}

.react-notifiable__items-leave.react-notifiable__items-leave-active {
  opacity: 0;
  left: 100%;
}
